@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

html {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}
body, input {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
}
body {
  padding: 1rem;
  background-color: #353535;
}
p {
  padding:0px;
  margin:0px;
}